In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [3]:
dc_file = "Resources/dc-wikia-data.csv"
dc_df = pd.read_csv(dc_file)
dc_df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0

In [4]:
marvel_file = "Resources/marvel-wikia-data.csv"
marvel_df = pd.read_csv(marvel_file)
marvel_df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [5]:
appeneded_df = dc_df.append(marvel_df)
appeneded_df

C:\Users\Jm18443\AppData\Local\Temp\ipykernel_27136\1808974698.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  appeneded_df = dc_df.append(marvel_df)

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR,Year
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0,NaN
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0,NaN
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0,NaN
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0,NaN
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16371,657508,Ru'ach (Earth-616),\/Ru%27ach_(Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
16372,665474,Thane (Thanos' son) (Earth-616),\/Thane_(Thanos%27_son)_(Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
16373,695217,Tinkerer (Skrull) (Earth-616),\/Tinkerer_(Skrull)_(Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
16374,708811,TK421 (Spiderling) (Earth-616),\/TK421_(Spiderling)_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN,NaN
16375,673702,Yologarch (Earth-616),\/Yologarch_(Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN,NaN

### Connect to local database

In [6]:
protocol = 'postgresql'
username = 'postgres'
password = 'password'
host = 'localhost'
port = 5432
database_name = 'hero_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

### Check for tables

In [18]:
engine.table_names()

C:\Users\Jm18443\AppData\Local\Temp\ipykernel_27136\4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['dc_db', 'marvel_db', 'dc_table', 'marvel_table', 'append_table']

### Transform premises DataFrame

In [9]:
#Create a filtered dataframe from specific columns
dc_cols = ["name","ID","ALIGN","SEX","ALIVE","APPEARANCES","YEAR"]
dc_transformed = dc_df[dc_cols].copy()
                                                        

#Rename the column headers
dc_transformed = dc_transformed.rename(columns={"name":"Name", "ID":"Id", 
                                                        "ALIGN":"Alignment", "SEX":"Sex",
                                                        "ALIVE":"Alive", "APPEARANCES":"Appearances", 
                                                        "YEAR":"Year"})

#set index
dc_transformed.set_index("Name", inplace=True)

dc_transformed.head()

,Id,Alignment,Sex,Alive,Appearances,Year
Name,,,,,,
Batman (Bruce Wayne),Secret Identity,Good Characters,Male Characters,Living Characters,3093.0,1939.0
Superman (Clark Kent),Secret Identity,Good Characters,Male Characters,Living Characters,2496.0,1986.0
Green Lantern (Hal Jordan),Secret Identity,Good Characters,Male Characters,Living Characters,1565.0,1959.0
James Gordon (New Earth),Public Identity,Good Characters,Male Characters,Living Characters,1316.0,1987.0
Richard Grayson (New Earth),Secret Identity,Good Characters,Male Characters,Living Characters,1237.0,1940.0

### Transform county DataFrame

In [10]:
#Create a filtered dataframe from specific columns
marvel_cols = ["name","ID","ALIGN","SEX","ALIVE","APPEARANCES","Year"]
marvel_transformed = marvel_df[marvel_cols].copy()

#Rename the column headers
marvel_transformed = marvel_transformed.rename(columns={"name":"Name", "ID":"Id", 
                                                        "ALIGN":"Alignment", "SEX":"Sex",
                                                        "ALIVE":"Alive", "APPEARANCES":"Appearances", 
                                                        "YEAR":"Year"})
#set index
marvel_transformed.set_index("Name", inplace=True)

marvel_transformed.head()

,Id,Alignment,Sex,Alive,Appearances,Year
Name,,,,,,
Spider-Man (Peter Parker),Secret Identity,Good Characters,Male Characters,Living Characters,4043.0,1962.0
Captain America (Steven Rogers),Public Identity,Good Characters,Male Characters,Living Characters,3360.0,1941.0
"Wolverine (James \""Logan\"" Howlett)",Public Identity,Neutral Characters,Male Characters,Living Characters,3061.0,1974.0
"Iron Man (Anthony \""Tony\"" Stark)",Public Identity,Good Characters,Male Characters,Living Characters,2961.0,1963.0
Thor (Thor Odinson),No Dual Identity,Good Characters,Male Characters,Living Characters,2258.0,1950.0

In [11]:
#Create a filtered dataframe from specific columns
append_cols = ["name","ID","ALIGN","SEX","ALIVE","APPEARANCES","Year"]
append_transformed = appeneded_df[append_cols].copy()

#Rename the column headers
append_transformed = append_transformed.rename(columns={"name":"Name", "ID":"Id", 
                                                        "ALIGN":"Alignment", "SEX":"Sex",
                                                        "ALIVE":"Alive", "APPEARANCES":"Appearances", 
                                                        "YEAR":"Year"})
#set index
append_transformed.set_index("Name", inplace=True)

append_transformed.head()

,Id,Alignment,Sex,Alive,Appearances,Year
Name,,,,,,
Batman (Bruce Wayne),Secret Identity,Good Characters,Male Characters,Living Characters,3093.0,NaN
Superman (Clark Kent),Secret Identity,Good Characters,Male Characters,Living Characters,2496.0,NaN
Green Lantern (Hal Jordan),Secret Identity,Good Characters,Male Characters,Living Characters,1565.0,NaN
James Gordon (New Earth),Public Identity,Good Characters,Male Characters,Living Characters,1316.0,NaN
Richard Grayson (New Earth),Secret Identity,Good Characters,Male Characters,Living Characters,1237.0,NaN

### Load DataFrames into database

In [13]:
dc_transformed.to_sql(name='dc_table', con=engine, if_exists='append', index=True)

896

In [14]:
marvel_transformed.to_sql(name='marvel_table', con=engine, if_exists='append', index=True)

376

In [15]:
append_transformed.to_sql(name='append_table', con=engine, if_exists='append', index=True)

272

In [17]:
pd.read_sql_query('select * from append_table', con=engine).head()

,Name,Id,Alignment,Sex,Alive,Appearances,Year
0,Batman (Bruce Wayne),Secret Identity,Good Characters,Male Characters,Living Characters,3093.0,NaN
1,Superman (Clark Kent),Secret Identity,Good Characters,Male Characters,Living Characters,2496.0,NaN
2,Green Lantern (Hal Jordan),Secret Identity,Good Characters,Male Characters,Living Characters,1565.0,NaN
3,James Gordon (New Earth),Public Identity,Good Characters,Male Characters,Living Characters,1316.0,NaN
4,Richard Grayson (New Earth),Secret Identity,Good Characters,Male Characters,Living Characters,1237.0,NaN